html, body {
  width: 100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

.total {
  background: radial-gradient(#0d2d4e, #030F1B);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  padding: 5vw;
}

.title {
  font-family: 'IstokWeb';
  font-size: 7.5vw;
  margin: 1vh 0;
  color: #f0f0f0;
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vw;
  margin: 5vh auto;
}

.frontButton {
  width: 40vw;
  
  padding: 1em;
  border-radius: 2vw;
  border: none;
  background-color: rgba(196, 196, 196, 0.2);
  box-shadow: 0 0 25px 10px #003061;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
}

.frontButton:hover {
  box-shadow: 0 0 25px 10px #004C99;
  background-color: rgba(196, 196, 196, 0.1);
  scale: 1.05;
}

.intro {
  width: 80vw;
  margin: 5vh auto 10vh auto;
  font-size: 1em;
}

/* Optional: tweak for very small screens */
@media (max-width: 500px) {
  .title {
    font-size: 10vw;
  }

  .frontButton {
    width: 70vw;
  }

  .intro {
    font-size: 0.95em;
  }
}
